.container_login {
    height: 100vh;
    /* Sử dụng chiều cao của viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper {
    position: relative;
    width: 800px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
}


.login-wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    z-index: 1;
    cursor: pointer;
}

.login-form-image {
    display: flex;
    align-items: center;
}

.login-form-box {
    width: 50%;
    padding: 40px;
}

.login-heading {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.login-input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.login-input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.login-input-box input:focus~label,
.login-input-box input:valid~label {
    top: -5px;
}



.login-input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.login-input-box .login-icon {
    position: absolute;
    right: 0px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
    cursor: pointer;
}

.login-remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
}

.login-remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.login-remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.login-remember-forgot a:hover {
    text-decoration: underline;
}


.login-login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-login-register p a:hover {
    text-decoration: underline;
}

.login-btn {
    width: 100%;
    height: 45px;
    background: #162938;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-image-box {
    width: 50%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image-box img {
    max-width: 100%;
}

/* history sản phẩm  */

.header-area .main-header .main-menu ul ul.submenu_user {
    position: absolute;
    width: 300px;
    background: rgba(43, 43, 43, 0.7);
    top: 80%;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
    padding: 17px 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    max-height: 400px;
    /* Thay đổi chiều cao tối đa */
    overflow-y: auto;
    /* Thêm thanh cuộn khi vượt quá chiều cao */
}

.header-area .main-header .main-menu ul ul.submenu_user>li {
    margin-left: 7px;
    display: block
}

.header-area .main-header .main-menu ul ul.submenu_user>li>a {
    padding: 6px 10px !important;
    font-size: 16px;
    text-transform: capitalize;
    margin: 0
}



.header-area .main-header .main-menu ul ul.submenu_user>li>a::before {
    position: unset
}

.header-area .main-header .main-menu ul ul.submenu_user>li>a::after {
    position: unset
}

.header-area .main-menu ul ul.submenu_user>li>a:hover {
    padding-left: 13px !important
}

.header-area .main-menu ul>li:hover>ul.submenu_user {
    visibility: visible;
    opacity: 1;
    top: 100%
}

/* show dữ liệu trong menu */
.menuService_shop_name {
    float: left;
    margin-bottom: 10px;
}

.menuService_invoice {
    clear: both;
}

.menuService_address {
    float: right;
    margin-left: 10px;
}

.menuService_phone {
    float: left;
    margin-right: 10px;
}

.menuService_address,
.menuService_phone {
    margin-bottom: 0;
}